@keyframes fadein {
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}

.f1{
    animation:fadein 10s ease infinite;
}

@keyframes fadeout {
    from{
        opacity:1
    }
    to{
        opacity:0
    }
}
.f2{
    animation:fadeout 10s ease infinite;
}

@keyframes bounce {
    0%,100%{
        transform:translateY(0)
    }50%{
        transform:translateY(-20px)
    }
}

.f3{
    animation:bounce 3s ease infinite;
}

@keyframes slidein-left{
    from{
        transform:translateX(100%)
    }to{
        transform:translate(0)
    }
}
.f4{
    animation:slidein-left 3s ease infinite;
}


@keyframes slidein-right{
    from{
        transform:translateX(-100%)
    }to{
        transform:translate(0)
    }
}
.f5{
    text-align: right;
    animation:slidein-right 3s ease infinite;
}