.form-div{
    width:300px;
    height:200px;
    border:2px solid black;
    border-radius:10px;
    padding: 20px;
    margin:20px;
}

.form-lable{
    display:block;
    margin:10px;
    font-size: 17px;
    font-weight: bold;
    color:orangered;
    text-Transform: lowercase;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.form-input{
    display:block;
    margin:10px;
    width:250px;
    border-color:orangered;
    border-style:solid;
    border-radius:5px;
    font-size:15px;
}

.submit{
    border-color:red;
    background-color: blue;
    color:white;
    border-style: solid;
    border-radius:5px;
    width:100px;
    height:30px;
}